
<div class="container">
 <div class = "jumbotron rounded">

    <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Invoice</h4>
      </div>
      <div class="col-xs-6">
         <input #invoiceIdBox placeholder="Please enter invoice Id" type="text" (keyup.enter)="search(invoiceId)"  [(ngModel)]="invoiceId" name="invoiceId" class="form-control"/>
      </div>
      <div class="col-xs-4">
        <input type="button" (click)="search(invoiceId)" value="Search" class="btn btn-primary">
      </div>

    </div>
 </div>

 <div class = "jumbotron rounded" *ngIf="invoiceDTO.id > 0">
    <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">ID</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceDTO.id}}</h4>      
      </div>

    </div>
    <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Name</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceDTO.name}}</h4>      
      </div>

    </div>
        <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Email</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceDTO.email}}</h4>      
      </div>

    </div>
        <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Note</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceDTO.note}}</h4>      
      </div>

    </div>
        <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Date</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceDTO.invoiceDate}}</h4>      
      </div>

    </div>
        <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Total</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceDTO.totalAmount}}</h4>      
      </div>

    </div>
        <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Status</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left"><button (click)="toggleInvoiceStatus()" class="btn btn-primary"><span>{{invoiceDTO.status==='Y' || invoiceDTO.status === 'y' ? "Invalidate" : "Validate" }}</span></button></h4>      
      </div>

    </div>
    <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Details</h4>
      </div>
      <div class="col-xs-6">
         <button (click)="showInvoiceItemDetails()" class="btn btn-primary">Item Details</button>      
      </div>

  </div>
</div>

<div *ngIf="showInvoiceItems == true">
  <div *ngFor="let invoiceItem of invoiceDTO.invoiceItems; let i = index" class = "jumbotron rounded">
     <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Media Type</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceItem.mediaType}}</h4>      
      </div>

    </div>
    <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Code</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceItem.code}}</h4>      
      </div>

    </div>
        <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Title</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceItem.title}}</h4>      
      </div>

    </div>
        <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Quantity</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">{{invoiceItem.quantity}}</h4>      
      </div>

    </div>
    <div class="row form-group vertical-align"> 

      <div class="col-xs-2">
        <h4 class="text-right">Price</h4>
      </div>
      <div class="col-xs-6">
         <h4 class="text-left">${{invoiceItem.price}}</h4>      
      </div>
    </div>
  </div>
</div>
 